# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
.gradle/
build/libs/*.jar
1.19.2/.gradle/
1.20.1/.gradle/
1.21.1

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
*.kra

experiments/
run-data
/1.19.2/build
/1.19.2/common/build
/1.19.2/fabric/build
/1.19.2/forge/build
/1.20.1/build
/1.20.1/common/build
/1.20.1/fabric/build
/1.20.1/forge/build
/1.20.1/forgix
/build
/.architectury-transformer
