# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
.gradle/
build/libs/*.jar
1.19.2/.gradle/
1.20.1/.gradle/
1.21.1

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
*.kra

experiments/
run-data
